
/* header slider fonts */

.dm__slider-title--container {
	width: 55%;
	height: 55%;
	@include max_tablet {width: 100%; display: block;}
}

/* About us section */
#dm__aboutSection	{
	padding-top: 185px;
	padding-bottom: 262px;
	background-color: #{$themeColor};
	color: #{$welcomeSectionTextColor};
}
#dm__aboutSection a {
	color: #{$welcomeSectionTextColor};
}

/* menu items */
.dm-list li a {
	font-family: "Playfair Display", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	font-style: italic;
}
.dm-list li a:hover,
.dm-list li a:link{
	text-decoration: none;
	color: #fff;
}

/* Service section */ 
#dm__servicesSection {
	padding-top: 0px;
	padding-bottom: 70px;
	margin-top: -106px;
}
.dm-bgImg {	
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto;
	background-attachment: scroll;
}
.dm-bgImg1 {background-image: url('../images/assets/mask.png');}

/* Work section */ 
#dm__workSection {
	background: white;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;
	position: relative;
}
.dm__workSection-obj {
	height: auto;
	width: auto;
	@include desktop {display: none;}
	@include max_desktop {display: none;}
	@include tablet_landscape_2 {display: none;}
}
.dm__workSection-obj1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.dm__workSection-obj2 {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 220px;
	margin-bottom: 125px;
	z-index: 1;
}
#dm__servicesSection .dm__iconbox-text {
	text-align: center;
}

/* Blog section */ 
#dm__blogSection {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ffffff;
	position: relative;
}

.dm__slider-item-container {
	height: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.dm__slider-caption-col {
	padding: 0 13%;
}
.dm__slider-caption-col h3 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	text-align: left;
	color: #0a0a0a;
	margin-top: 0px;
	margin-bottom: 20px;
}
.dm__slider-caption-col p {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #666666;
	margin: 0 0 20px;
}
.dm__slider-img-container {
	height: 526px;
	margin-bottom: 50px;
	@include mobile {height: 300px;}
	@include tablet_portrait {height: 400px;}
}
.dm__blogSection-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.dm__blog-slider-container {
	width: 100%;
}
.dm__slider-blog {
	padding-top: 35px;
}
.dm__slider-blog-img {
	height: 526px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
	@include mobile {height: 80%;}
	@include tablet_portrait {height: 80%;}
}

.dm__slider-blog .dm__slider-item {transition: all 0.3s;}
.dm__slider-blog .dm__slider-item:not(.slick-active){ opacity: 0.4; transform: scale(0.9);}
.dm__blog-container {margin-top: 50px;}
.dm__blog-button {
	color: #0a0a0a;
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
}
.dm__blog-button:hover {color: #0a0a0a;}
.dm__blog-button:focus {color: #0a0a0a; text-decoration: none;}
.dm__slider-item:focus {outline: none;}

/* Blog caption animation */
.dm__slider-item.slick-active .dm__slider-caption {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}
.dm__slider-item .dm__slider-caption {
	opacity: 1;
	transform: translateY(30px);
	transition: all 0.3s;
}

/* slider arrows */
.slick-slider {
	.slick-prev:before, .slick-next:before {
		color: #000; ; 
		@include max_desktop {color: #fff; }
	}
	.slick-next { 
		z-index: 9;
		right: 23%;
		@include max_desktop {right: 2%;}
		@include mobile {top: 25%;}
		@include tablet_portrait {top: 25%;}
	}
	.slick-prev { 
		z-index: 9;
		left: 23%; 
		@include max_desktop {left: 2%;}
		@include mobile {top: 25%;}
		@include tablet_portrait {top: 25%;}
	}
}

/*how it works*/
#grids, #how-play{
	background: white;
}
#how-work, #grids, #how-play {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0px;
    position: relative;
}
#how-work img, #grids img{
	margin-top:30px;
	width:100%;
}

#grids img{
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#how-work ul{
	margin-top: -24px;
	margin-bottom: 48px;
}
#how-work li{
	font-size: 1.1em;
	margin-left: -18px;
    line-height: 1.3em;
    padding-top: 10px;
}

/*flip*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(-180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;	
    position: relative;
    height: 340px;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 2px -13px;
}
.flipper .front img{
	width:100%;
}
.flipper .back{
	background:#{$themeColor};
	padding: 40px;
}

/* hide back of pane during swap */
.front, .back {
	box-shadow: 0 0 0 transparent;
    transition-duration: 0.6s;
    align-items: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 1;
    display: flex;
    perspective: inherit;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	text-align: center;
	color:white;
	font-size: 1.1em;
	line-height: 1.3em;
}
/* Amazing Features section */
#dm__featuresSection {
	padding-top: 185px;
	padding-bottom: 0;
	position: relative;
	background: #fbfbfb;
}
.dm__featuresSection-obj {
	height: auto;
	width: auto;
	position: relative;
	z-index: 2;
	@include desktop {display: none;}
	@include max_desktop {display: none;}
	@include tablet_landscape_2 {display: none;}
}
.dm__featureSection-objContainer {
	margin-top: 295px;
	margin-left: 340px;
	position: absolute;
	top: 0;
	left: 0;
}
.dm__feature-container {
	width: 45%;
	text-align: center;
	margin: auto;
}
.dm__feature-heading {
	color: #0a0a0a;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	margin-bottom: 65px;
}
.dm__feature-heading  i {
	font-family: 'Playfair Display',serif!important;
	font-style: italic;
}
#dm__featuresSection .dm__iconbox{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.dm__featureIconbox-icon {
	font-size: 30px;
	color: #29d8e0; 
	background-color: #ffffff;
}
.dm__featureIconbox-text {
	font-size: 12px;
	color: #666666;
}

/* video player */
.dm__background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dm__videoPlayer-bg--overlay {
	background-color: rgba(51,51,153,0.1);
}
.dm__videoPlayer-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.dm__videoPlayer-caption .dm__iconbox {
	text-align: center;
	cursor: pointer;
}
.dm__videoPlayer-caption .dm__iconbox,
.dm__videoPlayer-caption .dm__iconbox-icon { margin-bottom: 0px;}
.dm__videoPlayer-icon {
	font-size: 20px;
	padding: 25px;
	color: #fff; 
	background-color: #{$themeColor};
}
.dm__videoPlayer-icon:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition-property: transform,opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    background-color: #{$themeColor};
}
.dm__iconbox:hover .dm__videoPlayer-icon:after {
	transition-timing-function: cubic-bezier(0.22,0.61,0.36,1);
	transition-duration: .2s;
	transform: scale(1.15);
	opacity: 1;
}

/* Feature section*/
.dm__features-container {margin-top: 50px;}
.dm__features-button {
	color: #0a0a0a;
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
}

/* Newsletter section */
#dm__newsletterSection {
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;
	background-color: #{$themeColor};
}
.dm__newsletter-heading {
	color: #ffffff;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}
.dm__newsletter-heading i {    
	font-family: 'Playfair Display',serif!important;
	font-style: italic;
}
.dm__newsletter-input {
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	height: 50px;
	width: calc(100% - 140px);
	margin-right: 10px;
	background: #fff;
	padding-left: 20px;
	transition: padding-left .15s ease-out;
	font-family: sans-serif;
	@include mobile {width: 100%;}
}
.dm__newsletter-input:focus {padding-left: 30px;}
.dm__newsletter-button {
	height: 50px;
	background-color: #20212e;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	width: 130px;
	border-radius: 3px;
	float: right;
	border: 0;
	vertical-align: middle;
	outline: none;
	margin: 0;
	top: 0;
	@include mobile {width: 100%; margin-top: 20px;}
}
.dm__newsletter-col {
	display: flex;
	justify-content: center;
}
.dm__newsletter-form { width: 75%; }
.dm__newsletter-subheading {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}