/* footer first section */

.footer-first-section {
	padding-top: 48px;
	padding-bottom: 48px;
}
.dm-footer {
	background: #{$themeColor};
}
.dm__list-header {
	color: white;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.dm__menu {
	margin-bottom: 20px;
	text-align: left;
	color: #535353;
}
.dm__menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dm__menu-item a{
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
}
.dm__menu-item{
	margin-bottom: 20px;
}
.dm__footer-heading {
	font-size: 30px;
	padding:0 0 30px 0;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
	color: white;
}

/* footer second section */
.footer-second-section {
	padding-top: 12px;
	padding-bottom: 12px;
}
.dn__footer-text, .dn__footer-text a {
	color: #fff;
	font-size: 14px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.dn__footer-text a {
	font-weight: bold;
}
.dn__footer-text a:hover {
	text-decoration: underline;
}
.dn__footer-text p {@include mobile {text-align: left;}}

