@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}


/* STANDARD */
h1, .h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	margin-top: 2em;
}
.h2, .h3, .h4, h2, h3, h4 {
	font-family: 'Source Code Pro', monospace;
    margin-top: 0;
    margin-bottom: 10px;	
}
.h3, h3 {
	font-weight: 600;
}
p {
    margin: 15px 0 10px;
}
a, a:hover, a:focus {
	color:#007ad0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	background:#FFF;
}
#content {
    max-width: 960px;
	font-size: 1.8em;
	line-height: 1.6em;
}

/* THE HEADER AND NAVIGATION BAR */
header{
	margin-top: 36px;
	font-size: 2em;
    font-family: Gotham Rounded;
}
header>a>img{
	margin-bottom: 20px;
}
header>nav{
	margin-top: 8px;
}
.nav>li{
	transition: all 0.1s ease-out;
}
.nav>li:hover{
	/*text-decoration:underline;*/
	transform: translate(0,-4px);
	transition: all 0.2s ease-out;
}
.nav>li>a:focus, .nav>li>a:hover {
	color:#007ad0;
    text-decoration: none;
    background-color: transparent;
}

/* THE GALLERY AND IMAGES */
#gallery {
	text-align: left;
}
.thumb {
	cursor: pointer;
	border-radius: 3px;
	margin:20px;    
	border: 1px solid rgba(0, 0, 0, 0.25);
	/*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05), 0 0px 4px 0 rgba(0,0,0,0.05);*/
    transition: all .1s ease-out;
}
.thumb:hover {
	transition: all .3s ease-out;
	transform: scale(1.0);
	border: 1px solid rgba(0, 0, 0, 1);
    /*box-shadow: 0 5px 12px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);*/
}
.col-sm-4.thumb{
	width:28%;
	padding:0;
}
.attrib{
	background-color: white;
	border-radius: 2px;
	/*opacity:0;*/
	/*height:20px;*/
}
.attrib:hover{
	opacity:0.9;
}
.attrib>#title{
	color:blue;
}
.attrib>#author{
	color:red;
}

/* THE PANORAMA CONTAINER DIV */
#panoramaContainer {
	width: 100%;
	margin: 0 auto;
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	/*transform: scale(0);*/
	/*transition: all 0.2s ease-in-out;*/
}

/* MISCELLANEOUS */
.hidden {
	transform: scale(0);
	position: absolute;	
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

/* MEDIA QUERIES */

/* for small devices */
@media screen and (max-width: 768px) {
	header>img{
		text-align:left;
		margin-top:40px;
		width:90%;
	}
	header>nav{
		position:relative!important;
		text-align: center;
	}
	.nav.pull-right{
		display: inline-block;
		float: none!important;
	}
	.col-xs-12.thumb{
		width:100%;
	}
	.col-xs-0{
		width:0;
		height:0;
	}
	.thumb {
		margin-left:0px;
		margin-right:0px;
		border: none;
		border-top: 1px solid black;	
		border-bottom: 1px solid black;	
	}
}

@media screen and (min-width: 992px) {
	header>nav{
		margin-top: 20px;
	}
}